<div>
  <div>Expense Calculator</div>
  <form [formGroup]="financeForm">
    Form Value: {{ financeForm.value | json }}
    <div>
      <label>Start Date</label>
      <input name="start-date" type="date" formControlName="startDate" />
    </div>
    <div>
      <label>End Date</label>
      <input name="end-date" type="date" formControlName="endDate" />
    </div>
    <div>
      <label>Starting Account Value</label>
      <input name="principle" type="number" formControlName="startingBalance" />
    </div>

    <ng-container formArrayName="BudgetItems">
      <div class="budget-form-items" *ngFor="let item of financeForm.get('BudgetItems')['controls']; let i = index" [formGroupName]="i">
        <label>Budget Item name</label>
        <input type="text" formControlName="title" />
    
        <label>Payment</label>
        <input type="number" formControlName="payment" />
    
        <label>Due Date</label>
        <input type="date" formControlName="dueDate" />
        <button (click)="removeItem('budget', i)">Delete</button>
      </div>
    </ng-container>
    
    <button (click)="addOngoingItemForm('budget')">Add Budget Item</button>
    
    <ng-container formArrayName="IncomeItems">
      <div class="income-form-items" *ngFor="let item of financeForm.get('IncomeItems')['controls']; let i = index" [formGroupName]="i">
        <label>Income Item name</label>
        <input type="text" formControlName="title" />
    
        <label>Amount</label>
        <input type="number" formControlName="amount" />
    
        <label>Frequency</label>
        <select formControlName="frequency">
          <option value="biweekly">Biweekly</option>
          <option value="monthly">Monthly</option>
        </select>
    
        <label>Recent Payment Date</label>
        <input type="date" formControlName="recentPaymentDate" />
        <button (click)="removeItem('income', i)">Delete</button>
      </div>
    </ng-container>

    <button (click)="addOngoingItemForm('income')">Add Income Item</button>

    <button type="submit" (click)="projectBudget($event)">Submit</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th *ngFor="let date of dateList">{{ date }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Checking Account</td>
        <td *ngFor="let balance of projectedBalance">{{ balance }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template ngIf="showChart">
    <div id="chart-container">
      <canvas id="chart-1"></canvas>
    </div>
  </ng-template>
</div>